.profile-page {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 50px 20px;
    min-height: 100vh;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-page h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.profile-page h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.profile-page p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}
